<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SecurityActivation" value="false"/>
    <add key="InternalAppRoot" value="https://localhost:44334"/>
    <add key="DefaultRootUrl" value="https://localhost:44334/Default.asp"/>
    <add key="DefaultChildUrl" value="https://localhost:44334/Default.asp"/>
    <add key="LogOutUrl" value="default.asp"/>
    <add key="LogOutChildUrl" value="default.asp"/>
    <add key="AllowedPages" value="ApplicationControl.aspx, Adding.ashx, Check.ashx"/>
    <add key="AllowedApplications" value="ICEPermissions2018"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <authentication mode="Windows"/>
    <httpModules>
      <add name="SecurityValidation" type="SolutionSecurity.SecurityValidation, SolutionSecurity"/>
    </httpModules>
    <compilation debug="true"/>
  </system.web>
</configuration>